@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-us-heading {
  margin-top: 100px!important;
  margin-bottom: 20px;
  text-align: center;
}
.about-image{
  margin-top: 70px!important;
}
.about-us-list {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-item {
  margin-bottom: 10px;
}

.about-us-text {
  line-height: 1.6;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}


/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  padding-right: 40px;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar .search-bar {
  flex-grow: 1;
  margin-left: 20px;
}

.navbar .search-bar  {
  width: 400px;

  padding: 5px;
  border: none;
  border-radius: 5px;
}
.searchdiv{
 
   margin-right: 200px;
 
}
.navbar .search-bar-button button {
  padding: 5px 10px;
  padding-right: 100px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .search-bar button:hover {
  background-color: #45a049;
}

/* =============================
==========footer============= */

.footer {
  color: white;
  
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* =========contact us ========= */
.contactus {
 margin-top:20px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy{
 
  margin: 10px;;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px ;
  
}
